:root {
    --primary: #27374D;
    --secondary: #526D82;
    --tertiary: #9DB2BF;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: var(--secondary);
    opacity: 0.5;
    position: fixed;
    z-index: 2;
    width: 100vw;
}
main .introduction {
    height: 100vh;
    background-color: var(--tertiary);
    position: relative;
}